
@import "icon-select.less";
@import "../virtue-less/icons.less";
@import "select2.less";


.post-php table.cmb_metabox textarea.cmb_textarea_code {
height: 30px;
line-height: 20px;
}
.post-php .cmb-type-textarea_code pre {
	margin: 0;
}
.wp-admin .cmb-type-textarea_code pre {
white-space: normal;
}
.kad_image_gallery .attachment.details .check div {background-position: -60px 0;}
.kad_image_gallery .attachment.details .check:hover div {background-position: -60px 0;}
.kad_image_gallery .gallery_images .details.attachment {box-shadow: none;}
.kad_image_gallery .eig-metabox-sortable-placeholder {background: #DFDFDF;}
.kad_image_gallery .gallery_images .attachment.details > div {width: 150px; height: 150px; box-shadow: none;}
.kad_image_gallery .gallery_images .attachment-preview .thumbnail {cursor: move;}
.kad_image_gallery .attachment.details div:hover .check {display:block;}
.kad_image_gallery .gallery_images:after, .kad_image_gallery #gallery_images_container:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.kad_image_gallery .gallery_images > li {float: left; cursor: move; margin: 0 20px 20px 0; width: auto;}
.kad_image_gallery .gallery_images li.image img {width: 150px; height: auto;}

.virtue-generator-button i.dash-icon-generic {
    margin: 0 2px;
    display: block;
    float: left;
}
.wcml_wrap [class^=icon-], .wcml_wrap [class*=" icon-"] {
    font-family: fontawesome;
}
.menu-item-edit-active .menu-item-settings:after {
    clear: both;
    display: table;
    content: '';
}
tr.cmb-type-hide_type {
    display: none;
}
.cycloneslider #poststuff [class^="icon-"], .cycloneslider #poststuff [class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}
.cycloneslider #poststuff .icon-play:before {
	    content: "\f04b";
}
.cycloneslider #poststuff .icon-code:before {
    content: "\f121";
}
.so-tip-wrapper {
	display:none;
}

.kadence-widget-single-tab {
	border: 1px solid rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.03);
	margin-bottom: 10px;
}

.kadence-remove-tab {
	text-decoration: none;
}
.kadence-tabs-widget-content >
 p > label, .kadence-tabs-widget-content > label {
    font-weight: bold;
}
.siteorigin-panels-builder-kadence-tabs.siteorigin-panels-builder .so-builder-toolbar a.so-tool-button.so-learn {
    display:none;
}
.siteorigin-panels-builder-kadence-tabs {
	padding: 10px 10px 0;
	background: #fff;
	border: 1px solid #dddddd;
}

.kadence-tabs-widget-header {
	position: relative;
	padding: 10px;
	background-color: #dddddd;
	color: #777777;
	cursor: move;
}

.kadence-tabs-widget-header-title {
	color: initial;
	font-weight: bold;
}

.kadence-tabs-widget-toggle {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -16px;
	padding: 6px;
	cursor: pointer;
}

.kadence-tabs-widget-content {
	padding: 0 10px;
}

.kadence-tabs-widget-placeholder {
	border: 1px dotted #777777;
	height: 40px;
	margin-bottom: 10px;
}

// CMB2 STYLES
.cmb2-wrap textarea {
    line-height: 20px;
    height: 30px;
  }
.cmb-type-textarea_code pre {
	margin: 0;
}
.wp-admin .cmb-type-textarea_code pre {
white-space: normal;
}
.cmb-type-kad-gallery .kad-gallery .gallery_images a {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}
.cmb-type-kad-gallery .kad-gallery .gallery_images a img {
  max-width: 150px;
}
.cmb-type-kad-gallery .kad-gallery #edit-gallery {
  margin-right: 10px;
}
tr.cmb-type-hide_type {
    display: none;
}
.wp-admin .postbox-container .cmb2-wrap > .cmb-field-list > .cmb-row {
    padding: 5px 0;
}
.cmb2-metabox .cmb2-media-status .img-status img {
    max-width: 150px;
    height: auto;
}
.wp-admin #side-sortables .cmb2-wrap>.cmb-field-list>.cmb-row {
    padding: 5px 0 10px;
}

.wp-admin #side-sortables .cmb-th {
    padding-bottom: 0;
}

.wp-admin #side-sortables .cmb-th label {
    color: #222;
    font-weight: 600;
    font-size: 12px;
}
