.single-article article {
	margin-top: 15px;
}
.single-article aside {
	margin-top: 25px;
}
.single-article article .postfeat {
	padding-top: 10px;
}
.single-article .post header {
padding: 10px 0;
}
.single-article .post-single-img {
	text-align: center;
	-webkit-transform: translateZ(0);
}
.kad-post-navigation {
    margin-top: 10px;
}

.single-footer {
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #eee;
	border-bottom-color: rgba(0,0,0,0.05);
	clear: both;
}
// Staff 
 .staff-img {
 	margin:10px 20px 10px 0px;
 }
.kad-post-navigation .kad-previous-link a, .kad-post-navigation .kad-next-link a {
	padding: 8px 12px;
	background: #f2f2f2;
	background: rgba(0, 0, 0, 0.05);
	color: #444;
	transition: background .6s ease-out;
	-webkit-transition: background .6s ease-out;
	-moz-transition: background .6s ease-out;
	-o-transition: background .6s ease-out;
	display:block;
}
.kad-post-navigation .kad-previous-link a:hover, .kad-post-navigation .kad-next-link a:hover {
	background: @primary;
	color: #fff;
	}