.contactform input.full, .wpcf7 input {
  width: 100%;
  padding: 8px;
  height: auto;
  border: 1px solid #999;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      max-width: 570px;
}
.contactform textarea, .wpcf7 textarea {
  width: 100%;
    padding: 8px;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #999;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  max-width: 570px;
}
.contactform  label.error {
    font-size:10px;
    color:@red;
}
#map_address img {
  max-width: none;
  vertical-align: baseline;
}
.wpcf7 input[type="file"],.wpcf7  input[type="image"],.wpcf7  input[type="submit"], .wpcf7 input[type="reset"],.wpcf7  input[type="button"],.wpcf7  input[type="radio"],.wpcf7  input[type="checkbox"]{
  width: auto;
}
.wpcf7 input.wpcf7-submit, .wpcf7 input.wpcf7-back {
  padding: 12px 18px;
  font-size: 12px;
  border: none;
  display: inline-block;
  color: #fff;
  background: @primary;
    transition: background .6s ease-out;
  -webkit-transition: background .6s ease-out;
  -moz-transition: background .6s ease-out;
  -o-transition: background .6s ease-out;
}
.wpcf7 input.wpcf7-submit:hover, .wpcf7 input.wpcf7-back:hover {
  background: @primary20;
  color:#fff;
}