.infobanner {
	margin:15px 0;
}
.kad-mobile-slider {
    	display: none;
    }
.home-message {
	background-color: transparent; 
	text-align:left;
	-webkit-transition: background .6s ease-in-out;
	-moz-transition: background .6s ease-in-out;
	-ms-transition: background .6s ease-in-out;
	-o-transition: background .6s ease-in-out;
	transition: background .6s ease-in-out;
	position: relative;
}
.home-message:hover {
	background-color:@primary;
	background-color: rgba(199, 44, 0, 0.6);
}
.home-message h4 {
	position: absolute;
	top: 10px;
	left: 10px;
	color:#444;
	background-color:#fff;
	background-color: rgba(255, 255, 255, 0.6);
	padding:6px;
	display:block;
	
}
.home-message h5 {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color:#555;
	margin: 0;
	text-align:right;
	padding:4px 6px;
	line-height:normal;
	background-color:#fff;
	background-color: rgba(255, 255, 255, 0.6);
}
.home-margin {
	margin: 0px 0;
}
.home-padding {
	padding: 25px 0 30px;
}
.home_blog_title {
	margin-top: 20px;
}
.home_blog article {
	border: 1px solid #eee;
	border-color: rgba(0,0,0,0.05);
	margin: 0 0 20px 0;
}
.home_blog .clearclass0 {
	clear:left;
}
.home_blog article header h4 { 
	line-height: 30px;
	}
.home_blog article .entry-content {
	margin-right: 15px;
	margin-bottom: 15px;
}
.home_blog article .span6 .entry-content, .home_blog article .span6 header, .home_blog article .span8 .entry-content, .home_blog article .span8 header {
	margin-right: 15px;
	margin-left: 15px;
}
.home_blog article .tcol-md-12.postcontent .entry-content, .home_blog article .tcol-md-12.postcontent header {
margin-right: 15px;
	margin-left: 15px;
}
.home_blog article .tcol-md-12.postcontent, .home_blog article .tcol-sm-12.postcontent {
	float: left;
}
.home_blog .home-sidebar .imghoverclass img {
			margin: 0 auto;
		}
			.home-sidebar .home_blog_title {
			margin-top: 20px;
			margin-bottom: 10px;
			margin-left: 15px;
			}
			.home_blog .home-sidebar article .entry-content {
			margin-right: 15px;
			margin-left: 15px;
			}
			.home_blog .home-sidebar article {
			margin-bottom: 30px;
		}
#home-product-carousel .product_item {
	margin-bottom: 0;
}
.home-iconmenu {
margin-top: 10px;
margin-bottom: 10px;
}

.home-iconmenu a {
	display: block;
	background: #ddd;
	background: rgba(0, 0, 0, 0.14);
	padding: 10px 20px;
	text-align: center;
	color: #fff;
	transition: background .4s ease-out;
  -webkit-transition: background .4s ease-out;
  -moz-transition: background .4s ease-out;
  -o-transition: background .4s ease-out;
}
.home-iconmenu a i {
	font-size: 48px;
	color: #fff; 
	display: block;
	padding-top: 20px
}
.home-iconmenu a h4, .home-iconmenu a p {
	color: #fff;
	}
		.home-iconmenu a p {
	padding-bottom: 5px;
}
.home-iconmenu a:hover {
	background: @primary;
}