.kad-btn, .button, #commentform .form-submit #submit, .cart_totals .checkout-button{
	padding: 12px 18px;
	font-size: 12px;
	border: none;
	display: inline-block;
	background: #eee;
	color:#444;
		transition: background .6s ease-out;
	-webkit-transition: background .6s ease-out;
	-moz-transition: background .6s ease-out;
	-o-transition: background .6s ease-out;
}
.shop_table .actions input[type="submit"].button {
	background: #eee;
	color:#444;
}
.kad-btn-primary, #commentform .form-submit #submit, #payment #place_order, .yith-wcan .yith-wcan-reset-navigation, .shop_table .actions input[type=submit].checkout-button, .widget_shopping_cart_content .checkout,
.login .form-row .button, .order-actions .button, input[type="submit"].button, .cart_totals .checkout-button {
	color: #fff;
	background: @primary;
}
.kad-btn:hover, .button:hover, .shop_table .actions input[type="submit"].button:hover {
	background: #ddd;
}
.kad-btn-primary:hover, input[type="submit"].button:hover, .order-actions .button:hover, .woocommerce-message .button:hover, 
#commentform .form-submit #submit:hover, .shop_table .actions input[type=submit].checkout-button:hover, #payment #place_order:hover, .widget_shopping_cart_content .checkout:hover,
.yith-wcan .yith-wcan-reset-navigation:hover, .login .form-row .button:hover, .cart_totals .checkout-button:hover  {
	background: @primary20;
	color:#fff;
}
.woocommerce-message .button {
	transition: background .6s ease-out;
	-webkit-transition: background .6s ease-out;
	-moz-transition: background .6s ease-out;
	-o-transition: background .6s ease-out;
	color: #fff;
	background: @primary;
}
.cart_totals .checkout-button {
	line-height: 20px;
font-size: 14px;
}
.kad-circle-iconclass {
padding: 20px;
display: inline-block;
border-radius: 50%;
}
.kad-square-iconclass {
padding: 20px;
display: inline-block;
}

