//Layouts
.wide #wrapper.container, #Container #wrapper.container {
width: 100%!important;
padding: 0!important;
}
#content.container-fullwidth {
    width: 100%;
    max-width: 100%;
    padding-top:0;
    padding-bottom:0;
}
.container-fullwidth .main.col-md-12 {
    padding: 0;
    overflow: hidden;
}
.container-fullwidth .main.col-md-8, .container-fullwidth .kad-sidebar {
    padding-top: 30px;
    padding-bottom: 30px;
}