@media print {
  html, body, .container {width:1170px !important;}
  #nav-main ul.sf-menu, .nav-main ul.sf-menu {
      display: block;
    }
    #nav-second ul.sf-menu {
      display: block;
    }
    #nav-main .sf-menu a {
    padding-left: 5px !important;
    padding-right: 5px !important;
    }
  #kad-mobile-nav {
  display: none;
  }
  #mobile-nav-trigger {
  display: none;
  }
  #kad-banner {
    position: static !important;
  }
  #topbar .kad-topbar-left {float:left !important;}
  #ascrail2000 {
  display:none;
  visibility: hidden;
  }
  .main.col-lg-9 {
    width: 75% !important;
  }
  aside.col-lg-3 {
     width: 25% !important;
   }
   .footercol3 {
      clear: none;
    }
 .kad-animation {opacity: 1; top:0;} .kad_portfolio_fade_in, .kad_product_fade_in, .kad_gallery_fade_in, .kad_testimonial_fade_in, .kad_staff_fade_in, .kad_blog_fade_in {opacity: 1;}
}