.product_category_padding {
	padding-bottom: 0px;
}
.product-category.grid_item > a {
	display: block;
	position: relative;
}
.product-category.grid_item a h5 {
	color:#fff;
	position: absolute;
	top: 0;
	background: #000;
	background: rgba(0,0,0,0.6);
	padding: 6px 10px;
	font-size: 14px;
	-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
}
.product-category.grid_item a:hover h5 {
	background: @primary;
}
.product-category.grid_item h5 mark {
	color:#fff;
	background-color: transparent;
}