//skin classes

.topclass {
	background: @primary;
}
.contentclass {
	background: @contentclass;
	padding-bottom: 30px;
	padding-top: 15px;
}
.featclass {
	background: @featclass;
}
.headerclass {
	background: @headerclass
}
.footerclass {
	background: @footerclass;
}
.navclass {
	background: @navclass;
}
.bg_primary {
	background: @primary;
}
.color_primary {
	color: @primary;
}
.color_gray {
	color:#777;
}