 //Testimonial
 .testimonialbox {
 	padding: 20px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 6px;
	font-size: 13px;
	font-style: italic;
}
.testimonialimg {
	margin-right: 20px;
	margin-bottom: 10px; 
}
.testimonialbottom {
	text-align: right;
}
.testimonialbottom p {
	padding-top: 2px;
	margin-right: 70px;
}
.testimonialbottom .lipbg {
	float: right;
	margin-right: 30px;
	margin-left: 10px;
	margin-top: -1px;
	width: 32px;
	height: 18px;
	background: url("../img/testimonial_bg.png") no-repeat top right;
}
.test-prev, .test-next {
position: absolute;
top: -40px;
background: #fff;
color: #777;
padding: 6px 6px 4px;
border: 1px solid #eee;
}
.test-prev {
right: 50px;
}
.test-next {
right: 10px;
}