.widget {
    margin-top: 30px;
}
.widget-first {
    margin-top: 10px
}
// Kadence Recent Posts Widget 
.sidebar .kadence_recent_posts li, .kadence_recent_posts li {
    margin-bottom:15px;
    line-height:normal;
}
.kadence_recent_posts li { list-style: none;}
.kadence_recent_posts img {
    float:left;
    padding-right: 10px;
}
.kadence_recent_posts .recentpost_date {
    line-height:12px;
    float:left;
    color:@gray;
    font-size:10px;
    padding-bottom:5px;
}
.sidebar .kadence_recent_posts ul, .kadence_recent_posts ul {
    margin: 0 0 10px 10px;
}
#contentfooter .kadence_recent_posts a {
    color:#7B7B7B;
}
.kadence_recent_posts a  {
    color: #555;
}
.kadence_recent_posts .recentpost_title {
    padding-top:6px;
    display:block;
    line-height:20px;
}
// Img Grid Widget
.kadence_image_grid .imagegrid-widget a.imagegrid_item {
    padding-left:5px;
    margin-bottom:5px;
    display:block;
    float:left;
}
//about with img
.about_image_widget {
  text-align: center;
}
//vcard 
.vcard-address > span {
    display: block;
}
.widget_kadence_contact .vcard p {
    margin-bottom: 5px;
}
.widget_kadence_contact .vcard i {
  font-size: 14px;
    margin-right: 5px;
    vertical-align: middle;
}
// social 
.topbar-widget .virtue_social_widget a {
  display: block;
  float: right;
  width: 20px;
  text-align: center;
  line-height: 1;
  padding: 5px;
  background: transparent;
  margin-left: 0px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
  color: #fff;
  font-size: 14px;
    transition: background .6s ease-out;
  -webkit-transition: background .6s ease-out;
  -moz-transition: background .6s ease-out;
  -o-transition: background .6s ease-out;
}
.topbar-widget .virtue_social_widget a i {
  font-size: 14px;
  line-height: 1;
  padding: 0px;
  height: 25px;
}
.topbar-widget .virtue_social_widget a:hover {
  background: url("../img/20white.png");
  background: rgba(255,255,255,0.2);
  }
.virtue_social_widget a {
  display: block;
  float: left;
  width: auto;
  min-width: 25px;
  text-align: center;
  line-height: 20px;
  padding: 5px;
  background: #eee;
  margin-left: 3px;
  margin-bottom: 3px;
  color: #444;
    transition: background .6s ease-out;
  -webkit-transition: background .6s ease-out;
  -moz-transition: background .6s ease-out;
  -o-transition: background .6s ease-out;
}
#containerfooter .virtue_social_widget a {
background: url("../img/20black.png");
background: rgba(0,0,0,0.1);
}
#containerfooter .virtue_social_widget a:hover, .virtue_social_widget a:hover {
  color:#fff;
  }
.virtue_social_widget a i {
  font-size: 18px;
  line-height: 20px;
  vertical-align: middle;
}
#containerfooter .virtue_social_widget .facebook_link:hover, .virtue_social_widget .facebook_link:hover {background:@facebook;}
#containerfooter .virtue_social_widget .twitter_link:hover, .virtue_social_widget .twitter_link:hover {background:@twitter;}
#containerfooter .virtue_social_widget .googleplus_link:hover, .virtue_social_widget .googleplus_link:hover {background:@google;} 
#containerfooter .virtue_social_widget .dribbble_link:hover, .virtue_social_widget .dribbble_link:hover {background:@dribbble;}
#containerfooter .virtue_social_widget .vimeo_link:hover, .virtue_social_widget .vimeo_link:hover {background:@vimeo;}
#containerfooter .virtue_social_widget .flickr_link:hover, .virtue_social_widget .flickr_link:hover {background:@flickr;}
#containerfooter .virtue_social_widget .youtube_link:hover, .virtue_social_widget .youtube_link:hover {background:@youtube;}
#containerfooter .virtue_social_widget .pinterest_link:hover, .virtue_social_widget .pinterest_link:hover {background:@pinterest;}
#containerfooter .virtue_social_widget .instagram_link:hover, .virtue_social_widget .instagram_link:hover {background:@instagram;}
#containerfooter .virtue_social_widget .linkedin_link:hover, .virtue_social_widget .linkedin_link:hover {background:@linkedin;}
#containerfooter .virtue_social_widget .tumblr_link:hover, .virtue_social_widget .tumblr_link:hover {background:@tumblr;}
#containerfooter .virtue_social_widget .rss_link:hover, .virtue_social_widget .rss_link:hover {background:@rss;}
#containerfooter .virtue_social_widget .vk_link:hover, .virtue_social_widget .vk_link:hover {background:@vk;}
#containerfooter .virtue_social_widget .stumbleupon_link:hover, .virtue_social_widget .stumbleupon_link:hover {background:@stumbleupon;}

// Wordpress Widgets
.widget_archive .widget-inner li a:before  {
    font-family: 'FontAwesome';
    font-style: normal;
    speak: none;
    font-weight: normal;
    content: "\f187";
    float:left;
    margin-left:-20px;
    -webkit-font-smoothing: antialiased;
}
.widget_recent_comments .widget-inner li:before  {
    font-family: 'FontAwesome';
    font-style: normal;
    speak: none;
    font-weight: normal;
    content: "\f0e6";
    float:left;
    margin-left:-20px;
    -webkit-font-smoothing: antialiased;
}
.widget_recent_entries .widget-inner li a:before  {
    font-family: 'FontAwesome';
    font-style: normal;
    speak: none;
    font-weight: normal;
    content: "\f040";
    float:left;
    margin-left:-20px;
    -webkit-font-smoothing: antialiased;
}
.widget_categories .widget-inner .cat-item a:after  {
    font-family: 'FontAwesome';
    font-style: normal;
    speak: none;
    font-weight: normal;
    content: "\f07c";
    float: right;
    -webkit-font-smoothing: antialiased;
} 
#wp-calendar a {
  color:@primary;
}
//Woocommerce
.sidebar .product-categories li, .product-categories li, .sidebar .widget_categories li {
border-bottom: 0;
line-height: 20px;
}
.sidebar .product-categories li a, .product-categories li a, .sidebar .widget_categories li a {
    display: block;
    padding: 5px 10px;
    border-bottom: solid 1px #eee;
    border-color :rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
}
.product-categories .cat-item a:after  {
    font-family: 'FontAwesome';
    font-style: normal;
    speak: none;
    font-weight: normal;
    content: "\f07c";
    float: right;
    -webkit-font-smoothing: antialiased;
} 
.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}
.widget_price_filter .price_slider {
  margin-bottom: 1em;
}
.widget_price_filter .price_slider_wrapper .price_slider {
margin: 20px 10px 25px;
}
.widget_price_filter .price_slider_amount {
text-align: left;
line-height: 36px;
font-weight: bold;
font-size: 14px;
margin-left: 20px;
}
.widget_price_filter .ui-slider .ui-slider-range {
position: absolute;
z-index: 1;
font-size: 14px;
display: block;
background: #ddd;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #f2f2f2;
  }
  .widget_price_filter .ui-slider-horizontal {
  height: 8px;
}
.widget_price_filter .price_slider_amount .button {
  font-size: 14px;
  padding: 8px 14px;
  font-weight: bold;
}
.widget_price_filter .price_slider_amount .button {
  float: right;
  margin-right: 20px;
}
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.widget_price_filter .ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 14px;
height: 26px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
border: 0;
cursor: pointer;
background: @primary;
outline: 0;
top: -8px;
}
// woolayers
.woocommerce .widget_layered_nav ul,
.woocommerce-page .widget_layered_nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
}
.woocommerce .widget_layered_nav ul li,
.woocommerce-page .widget_layered_nav ul li {
  padding: 0 0 1px;
  list-style: none;
  margin: 2px 0;
}
.woocommerce .widget_layered_nav ul li:after,
.woocommerce-page .widget_layered_nav ul li:after {
  content: "";
  display: block;
  clear: both;
}
.woocommerce .widget_layered_nav ul li a,
.woocommerce-page .widget_layered_nav ul li a,
.woocommerce .widget_layered_nav ul li span,
.woocommerce-page .widget_layered_nav ul li span {
  padding: 5px 15px 5px 25px;
  float: left;
}
 .widget_layered_nav ul li.chosen {
 // border: 0;
}
.widget_layered_nav ul li.chosen a:before, .widget_layered_nav_filters ul li a:before {
      font-family: 'FontAwesome';
    font-style: normal;
    speak: none;
    font-weight: normal;
    content: "\f00d";
    -webkit-font-smoothing: antialiased;
    float:left;
    margin-left:-20px;
}
.widget_layered_nav ul li.chosen a {
  padding: 5px 15px 5px 25px;
  border: 0;
  background: @primary;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
   transition: background .6s ease-out;
  -webkit-transition: background .6s ease-out;
  -moz-transition: background .6s ease-out;
  -o-transition: background .6s ease-out;
}
.woocommerce .widget_layered_nav ul small.count,
.woocommerce-page .widget_layered_nav ul small.count {
  float: right;
  margin-left: 6px;
  font-size: 1em;
  padding: 5px 0;
  color: #777777;
}
.woocommerce .widget_layered_nav_filters ul,
.woocommerce-page .widget_layered_nav_filters ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
  overflow: hidden;
  zoom: 1;
}
.sidebar .widget_layered_nav_filters ul li {
  border: 0;
  }
.widget_layered_nav_filters ul li {
  float: left;
  list-style: none;
  border: 0;
  margin: 2px;
}
.widget_layered_nav_filters ul li a:hover {
  background: @primary20;
}
.widget_layered_nav_filters ul li a {
  padding: 5px 15px 5px 25px;
  border: 0;
  background: @primary;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  float: left;
       transition: background .6s ease-out;
  -webkit-transition: background .6s ease-out;
  -moz-transition: background .6s ease-out;
  -o-transition: background .6s ease-out;
}
//google Translate 
.topbar-widget {
  color: #fff;
}
.topbar-widget #google_language_translator {
  clear: none;
  float: left;
}
.topbar-widget #flags {
  float: left;
  }