html.no-js .kt-pb-animation {
	-webkit-animation:fadeIn ease-in-out 1;
    -moz-animation:fadeIn ease-in-out 1;
    animation:fadeIn ease-in-out 1;
 
    -webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;

    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;
}

.kt-pb-animation {
    opacity: 0;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

@-webkit-keyframes kt-pb-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes kt-pb-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
//fadeInUp
@-webkit-keyframes kt-pb-fadeInUp {
  from {
    opacity: 0;
    .translateY(30px);
  }

  to {
    opacity: 1;
    .translateY(0);
  }
}

@keyframes kt-pb-fadeInUp {
  from {
    opacity: 0;
    .translateY(30px);
  }

  to {
    opacity: 1;
    .translateY(0);
  }
}
//fadeInUpBig
@-webkit-keyframes kt-pb-fadeInUpBig {
  from {
    opacity: 0;
    .translateY(2000px);
  }

  to {
    opacity: 1;
    .translateY(0);
  }
}
@keyframes kt-pb-fadeInUpBig {
  from {
    opacity: 0;
    .translateY(2000px);
  }

  to {
    opacity: 1;
    .translateY(0);
  }
}
//fadeInDown
@-webkit-keyframes kt-pb-fadeInDown {
  from {
    opacity: 0;
    .translateY(-30px);
  }

  to {
    opacity: 1;
    .translateY(0);
  }
}
@keyframes kt-pb-fadeInDown {
  from {
    opacity: 0;
    .translateY(-30px);
  }

  to {
    opacity: 1;
    .translateY(0);
  }
}
//fadeInDownBig
@-webkit-keyframes kt-pb-fadeInDownBig {
  from {
    opacity: 0;
    .translateY(-2000px);
  }

  to {
    opacity: 1;
    .translateY(0);
  }
}

@keyframes kt-pb-fadeInDownBig {
  from {
    opacity: 0;
    .translateY(-2000px);
  }

  to {
    opacity: 1;
    .translateY(0);
  }
}
//fadeInLeft
@-webkit-keyframes kt-pb-fadeInLeft {
  from {
    opacity: 0;
    .translateX(-30px);
  }

  to {
    opacity: 1;
    .translateX(0);
  }
}
@keyframes kt-pb-fadeInLeft {
  from {
    opacity: 0;
    .translateX(-30px);
  }

  to {
    opacity: 1;
    .translateX(0);
  }
}
//fadeInLeftBig
@-webkit-keyframes kt-pb-fadeInLeftBig {
  from {
    opacity: 0;
    .translateX(-2000px);
  }

  to {
    opacity: 1;
    .translateX(0);
  }
}

@keyframes kt-pb-fadeInLeftBig {
  from {
    opacity: 0;
    .translateX(-2000px);
  }

  to {
    opacity: 1;
    .translateX(0);
  }
}
//fadeInRight
@-webkit-keyframes kt-pb-fadeInRight {
  from {
    opacity: 0;
    .translateX(30px);
  }

  to {
    opacity: 1;
    .translateX(0);
  }
}
@keyframes kt-pb-fadeInRight {
  from {
    opacity: 0;
    .translateX(30px);
  }

  to {
    opacity: 1;
    .translateX(0);
  }
}
//fadeInRightBig
@-webkit-keyframes kt-pb-fadeInRightBig {
  from {
    opacity: 0;
    .translateX(2000px);
  }

  to {
    opacity: 1;
    .translateX(0);
  }
}

@keyframes kt-pb-fadeInRightBig {
  from {
    opacity: 0;
    .translateX(2000px);
  }

  to {
    opacity: 1;
    .translateX(0);
  }
}
@-webkit-keyframes kt-pb-slideInUp {
  0% {
     opacity: 1;
    .translateY(2000px);
  }

  100% {
    opacity: 1;
    .translateY(0);
  }
}

@keyframes kt-pb-slideInUp {
  0% {
     opacity: 1;
    .translateY(2000px);
  }

  100% {
    opacity: 1;
    .translateY(0);
  }
}
@-webkit-keyframes kt-pb-slideInDown {
  0% {
     opacity: 1;
    .translateY(-2000px);
  }

  100% {
    opacity: 1;
    .translateY(0);
  }
}

@keyframes kt-pb-slideInDown {
  0% {
     opacity: 1;
    .translateY(-2000px);
  }

  100% {
    opacity: 1;
    .translateY(0);
  }
}
@-webkit-keyframes kt-pb-slideInLeft {
  0% {
     opacity: 1;
    .translateX(-2000px);
  }

  100% {
    opacity: 1;
    .translateX(0);
  }
}

@keyframes kt-pb-slideInLeft {
  0% {
     opacity: 1;
    .translateX(-2000px);
  }

  100% {
    opacity: 1;
    .translateX(0);
  }
}
@-webkit-keyframes kt-pb-slideInRight {
  0% {
     opacity: 1;
    .translateX(2000px);
  }

  100% {
    opacity: 1;
    .translateX(0);
  }
}

@keyframes kt-pb-slideInRight {
  0% {
     opacity: 1;
    .translateX(2000px);
  }

  100% {
    opacity: 1;
    .translateX(0);
  }
}
@-webkit-keyframes kt-pb-zoomIn {
  from {
    opacity: 0;
    .transform(scale3d(.3, .3, .3));
  }

  50% {
    opacity: 1;
  }
  100% {
  	opacity: 1;
    .transform(scale3d(1, 1, 1));
  }
}

@keyframes kt-pb-zoomIn {
 from {
    opacity: 0;
    .transform(scale3d(.3, .3, .3));
  }

  50% {
    opacity: 1;
  }
  100% {
  	opacity: 1;
    .transform(scale3d(1, 1, 1));
  }
}
@-webkit-keyframes kt-pb-zoomInUp {
  from {
    opacity: 0;
    .transform(scale3d(.1, .1, .1) translate3d(0, 1000px, 0));
    -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }

  60% {
    opacity: 1;
    .transform(scale3d(.475, .475, .475) translate3d(0, -60px, 0));
    -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
 100% {
 	opacity: 1;
    .transform(scale3d(1, 1, 1) translate3d(0, 0px, 0));
  }
}

@keyframes kt-pb-zoomInUp {
 from {
    opacity: 0;
    .transform(scale3d(.1, .1, .1) translate3d(0, 1000px, 0));
    -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }

  60% {
    opacity: 1;
    .transform(scale3d(.475, .475, .475) translate3d(0, -60px, 0));
    -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
  100% {
  	opacity: 1;
    .transform(scale3d(1, 1, 1) translate3d(0, 0px, 0));
  }
}
@-webkit-keyframes kt-pb-zoomInDown {
  from {
    opacity: 0;
    .transform(scale3d(.1, .1, .1) translate3d(0, -1000px, 0));
    -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }

  60% {
    opacity: 1;
    .transform(scale3d(.475, .475, .475) translate3d(0, 60px, 0));
    -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
  100% {
  	opacity: 1;
    .transform(scale3d(1, 1, 1) translate3d(0, 0px, 0));
  }
}

@keyframes kt-pb-zoomInDown {
 from {
    opacity: 0;
    .transform(scale3d(.1, .1, .1) translate3d(0, -1000px, 0));
    -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }

  60% {
    opacity: 1;
    .transform(scale3d(.475, .475, .475) translate3d(0, 60px, 0));
    -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
  100% {
  	opacity: 1;
    .transform(scale3d(1, 1, 1) translate3d(0, 0px, 0));
  }
}
@-webkit-keyframes kt-pb-zoomInLeft {
  from {
    opacity: 0;
    .transform(scale3d(.1, .1, .1) translate3d(-1000px, 0, 0));
    -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }

  60% {
    opacity: 1;
    .transform(scale3d(.475, .475, .475) translate3d(10px, 0, 0));
    -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
  100% {
  	opacity: 1;
    .transform(scale3d(1, 1, 1) translate3d(0, 0px, 0));
  }
}
@keyframes kt-pb-zoomInLeft {
 from {
    opacity: 0;
    .transform(scale3d(.1, .1, .1) translate3d(-1000px, 0, 0));
    -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }

  60% {
    opacity: 1;
    .transform(scale3d(.475, .475, .475) translate3d(10px, 0, 0));
    -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
  100% {
  	opacity: 1;
    .transform(scale3d(1, 1, 1) translate3d(0, 0px, 0));
  }
}
@-webkit-keyframes kt-pb-zoomInRight {
  from {
    opacity: 0;
    .transform(scale3d(.1, .1, .1) translate3d(1000px, 0, 0));
    -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }

  60% {
    opacity: 1;
    .transform(scale3d(.475, .475, .475) translate3d(-10px, 0, 0));
    -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
  100% {
  	opacity: 1;
    .transform(scale3d(1, 1, 1) translate3d(0, 0px, 0));
  }
}
@keyframes kt-pb-zoomInRight {
 from {
    opacity: 0;
    .transform(scale3d(.1, .1, .1) translate3d(1000px, 0, 0));
    -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  }

  60% {
    opacity: 1;
    .transform(scale3d(.475, .475, .475) translate3d(-10px, 0, 0));
    -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  }
  100% {
  	opacity: 1;
    .transform(scale3d(1, 1, 1) translate3d(0, 0px, 0));
  }
}
.kt-pb-duration-300 {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
}
.kt-pb-duration-600 {
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
}
.kt-pb-duration-900 {
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
}
.kt-pb-duration-1200 {
  -webkit-animation-duration: 1200ms;
  animation-duration: 1200ms;
}
.kt-pb-duration-1500 {
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
}
.kt-pb-duration-1800 {
  -webkit-animation-duration: 1800ms;
  animation-duration: 1800ms;
}
.kt-pb-duration-2100 {
  -webkit-animation-duration: 2100ms;
  animation-duration: 2100ms;
}
.kt-pb-duration-2400 {
  -webkit-animation-duration: 2400ms;
  animation-duration: 2400ms;
}
.kt-pb-duration-2700 {
  -webkit-animation-duration: 2700ms;
  animation-duration: 2700ms;
}
.kt-pb-duration-3000 {
  -webkit-animation-duration: 3000ms;
  animation-duration: 3000ms;
}

.kt-pb-delay-300 {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
.kt-pb-delay-600 {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.kt-pb-delay-900 {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}
.kt-pb-delay-1200 {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}
.kt-pb-delay-1500 {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}
.kt-pb-delay-1800 {
  -webkit-animation-delay: 1800ms;
  animation-delay: 1800ms;
}
.kt-pb-delay-2100 {
  -webkit-animation-delay: 2100ms;
  animation-delay: 2100ms;
}
.kt-pb-delay-2400 {
  -webkit-animation-delay: 2400ms;
  animation-delay: 2400ms;
}
.kt-pb-delay-2700 {
  -webkit-animation-delay: 2700ms;
  animation-delay: 2700ms;
}
.kt-pb-delay-3000 {
  -webkit-animation-delay: 3000ms;
  animation-delay: 3000ms;
}
html.js-running {
	.kt-pb-animate.kt-pb-fadeIn {
        -webkit-animation-name: kt-pb-fadeIn;
  		animation-name: kt-pb-fadeIn;
	}
	.kt-pb-animate.kt-pb-fadeInUp {
	    -webkit-animation-name: kt-pb-fadeInUp;
  		animation-name: kt-pb-fadeInUp;
	}
	.kt-pb-animate.kt-pb-fadeInUpBig {
	    -webkit-animation-name: kt-pb-fadeInUp;
  		animation-name: kt-pb-fadeInUp;
	}
	.kt-pb-animate.kt-pb-fadeInDown {
	    -webkit-animation-name: kt-pb-fadeInDown;
  		animation-name: kt-pb-fadeInDown;
	}
	.kt-pb-animate.kt-pb-fadeInDownBig {
	    -webkit-animation-name: kt-pb-fadeInDownBig;
  		animation-name: kt-pb-fadeInDownBig;
	}
	.kt-pb-animate.kt-pb-fadeInLeft {
	    -webkit-animation-name: kt-pb-fadeInLeft;
  		animation-name: kt-pb-fadeInLeft;
	}
	.kt-pb-animate.kt-pb-fadeInLeftBig {
	    -webkit-animation-name: kt-pb-fadeInLeftBig;
  		animation-name: kt-pb-fadeInLeftBig;
	}
	.kt-pb-animate.kt-pb-fadeInRight {
	    -webkit-animation-name: kt-pb-fadeInRight;
  		animation-name: kt-pb-fadeInRight;
	}
	.kt-pb-animate.kt-pb-fadeInRightBig {
	    -webkit-animation-name: kt-pb-fadeInRightBig;
  		animation-name: kt-pb-fadeInRightBig;
	}
	.kt-pb-animate.kt-pb-slideInUp {
	    -webkit-animation-name: kt-pb-slideInUp;
  		animation-name: kt-pb-slideInUp;
	}
	.kt-pb-animate.kt-pb-slideInDown {
	    -webkit-animation-name: kt-pb-slideInDown;
  		animation-name: kt-pb-slideInDown;
	}
	.kt-pb-animate.kt-pb-slideInLeft {
	    -webkit-animation-name: kt-pb-slideInLeft;
  		animation-name: kt-pb-slideInLeft;
	}
	.kt-pb-animate.kt-pb-slideInRight {
	    -webkit-animation-name: kt-pb-slideInRight;
  		animation-name: kt-pb-slideInRight;
	}
	.kt-pb-animate.kt-pb-zoomIn {
	    -webkit-animation-name: kt-pb-zoomIn;
  		animation-name: kt-pb-zoomIn;
	}
	.kt-pb-animate.kt-pb-zoomInUp {
	    -webkit-animation-name: kt-pb-zoomInUp;
  		animation-name: kt-pb-zoomInUp;
	}
	.kt-pb-animate.kt-pb-zoomInDown {
	    -webkit-animation-name: kt-pb-zoomInDown;
  		animation-name: kt-pb-zoomInDown;
	}
	.kt-pb-animate.kt-pb-zoomInLeft {
	    -webkit-animation-name: kt-pb-zoomInLeft;
  		animation-name: kt-pb-zoomInLeft;
	}
	.kt-pb-animate.kt-pb-zoomInRight {
	    -webkit-animation-name: kt-pb-zoomInRight;
  		animation-name: kt-pb-zoomInRight;
	}
}