.single-article article {
	margin-top: 15px;
}
.single-article aside {
	margin-top: 25px;
}
.single-article article .postfeat {
	padding-top: 10px;
}
.single-article .post header {
padding: 10px 0;
}
.single-article .post-single-img {
	text-align: center;
}


.single-footer {
	clear:both;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #eee;
	border-bottom-color: rgba(0,0,0,0.05); 
}
// Staff 
 .staff-img {
 	margin:10px 20px 10px 0px;
 }

.kad-post-navigation {
margin-top: 20px;
}
.kad-post-navigation .kad-previous-link a, .kad-post-navigation .kad-next-link a {
	padding: 8px 12px 8px 6px;
	background: #f2f2f2;
	background: rgba(0, 0, 0, 0.05);
	color: #444;
	transition: background .6s ease-out;
	-webkit-transition: background .6s ease-out;
	-moz-transition: background .6s ease-out;
	-o-transition: background .6s ease-out;
}
.kad-post-navigation .kad-next-link a {
	padding: 8px 6px 8px 12px;
}
.kad-post-navigation .kad-previous-link a:before {
  font-family: 'virtue_icons';
    font-style: normal;
    speak: none;
    vertical-align: bottom;
    font-weight: normal;
    content: "\e3b7";
    padding-right: 3px;
    -webkit-font-smoothing: antialiased;
}
.kad-post-navigation .kad-next-link a:after {
  font-family: 'virtue_icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    vertical-align: bottom;
    content: "\e3b5";
    padding-left: 3px;
    -webkit-font-smoothing: antialiased;
}
.kad-post-navigation .kad-previous-link a:hover, .kad-post-navigation .kad-next-link a:hover {
	background: @primary;
	color: #fff;
	}

	.single-testimonial .portfolionav {
padding: 10px 0 10px;
}