.kad-btn, .button, #commentform .form-submit #submit, .post-password-form input[type="submit"], .cart_totals .checkout-button, #kad-head-cart-popup a.button {
	padding: 12px 18px;
	font-size: 12px;
	border: none;
	display: inline-block;
	background: #eee;
	color:#444;
	-webkit-transition: background .6s ease-out, border .6s ease-out;
	-moz-transition: background .6s ease-out, border .6s ease-out;
	-o-transition: background .6s ease-out, border .6s ease-out;
	transition: background .6s ease-out, border .6s ease-out;
}
.shop_table .actions input[type="submit"].button {
	background: #eee;
	color:#444;
}
.kad-btn-primary, #commentform .form-submit #submit, .place-order #place_order, #kad-head-cart-popup a.button.checkout, .yith-wcan .yith-wcan-reset-navigation, .shipping-calculator-form .button, .shop_table .actions input[type=submit].checkout-button, .widget_shopping_cart_content .checkout,
.login .form-row .button, .order-actions .button, input[type="submit"].button, .post-password-form input[type="submit"], .cart_totals .checkout-button, .track_order .button, .single_add_to_cart_button {
	color: #fff;
	background: @primary;
}
.kad-btn:hover, .button:hover, .shop_table .actions input[type="submit"].button:hover {
	background: #ddd;
}
#kad-head-cart-popup a.button:hover {
	color: #444;
	background: #ddd;
}
.kad-btn-primary:hover, input[type="submit"].button:hover, .order-actions .button:hover, #kad-head-cart-popup a.button.checkout:hover, .woocommerce-message .button:hover, .shipping-calculator-form .button:hover, .track_order .button:hover,
#commentform .form-submit #submit:hover, .shop_table .actions input[type=submit].checkout-button:hover, .place-order #place_order:hover, .widget_shopping_cart_content .checkout:hover,
.yith-wcan .yith-wcan-reset-navigation:hover, .login .form-row .button:hover, .post-password-form input[type="submit"]:hover, .cart_totals .checkout-button:hover, .single_add_to_cart_button:hover {
	background: @primary20;
	color:#fff;
}
.woocommerce-message .button {
	transition: background .6s ease-out;
	-webkit-transition: background .6s ease-out;
	-moz-transition: background .6s ease-out;
	-o-transition: background .6s ease-out;
	color: #fff;
	background: @primary;
}
.cart_totals .checkout-button {
	line-height: 20px;
font-size: 14px;
}
.kad-btn i {
	margin-left: 4px;
}
.btn-shortcode {
font-size: 14px;
}
.lg-kad-btn {
	padding: 14px 22px;
	font-size: 16px;
}
.sm-kad-btn {
	padding: 8px 16px;
	font-size: 12px;
}
.kad-circle-iconclass {
padding: 20px;
display: inline-block;
border-radius: 50%;
}
.kad-square-iconclass {
padding: 20px;
display: inline-block;
}
.kad-smcircle-iconclass {
padding: 5px;
display: inline-block;
border-radius: 50%;
}
.kad-smsquare-iconclass {
padding: 5px;
display: inline-block;
}
