//Layouts
.wide #wrapper.container, #Container #wrapper.container {
max-width: 100%!important;
padding: 0!important;
}
.boxed.page-template-page-feature-sidebar .pageheadfeature, .boxed.page-template-page-feature .pageheadfeature {
width: 100%;
padding: 0;
}
.page-template-page-landing-php .wrap.contentclass {
    padding: 0;
}
.siteorigin-panels-stretch.kt-panel-row-full-stretch .row {
    margin: 0;
}
#content.container-fullwidth {
    width: 100%;
    max-width: 100%;
    padding-top:0;
    padding-bottom:0;
}
.container-fullwidth .main.kt-nosidebar {
    padding: 0;
    overflow: hidden;
}
.container-fullwidth .main.kt-sidebar, .container-fullwidth #ktsidebar {
    padding-top: 30px;
    padding-bottom: 30px;
}