// Block Quote 
.blockquote-full {
    padding: 20px 20px;
    border: 1px solid;
    border-left: 4px solid;
    float:left;
    border-color: @gray-hover;
    border-color: rgba(0,0,0,.1);
    margin:10px 30px;
    width:85%;
}
.blockquote-left {
    padding: 20px 20px;
    border: 1px solid;
    border-left: 4px solid;
    float:left;
    border-color: @gray-hover;
    border-color: rgba(0,0,0,.1);
    margin:10px 30px;
    max-width:250px;
}
.blockquote-right {
    padding: 20px 20px;    padding: 20px 20px;
    border: 1px solid;
    border-left: 4px solid;
    float:right;
    border-color: @gray-hover;
    border-color: rgba(0,0,0,.1);
    margin:10px 30px;
    max-width:250px;
}
// Pull Quote 
.pullquote-right {
    position: relative;
    padding: 5px 90px 5px 0;
    margin: 10px 0 5px 40px;
    float: right;
    max-width: 250px;
    font-size: 16px;
    line-height: 24px;
}
.pullquote-right:before {
    position: absolute;
    right: 0;
    top: 20%;
    font-size: 34px;
    color: #eee;
    color: rgba(0, 0, 0, 0.07);
    font-family: 'virtue_icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    content: "\e19f";
    -webkit-font-smoothing: antialiased;
}
.pullquote-left {
    position: relative;
    padding: 5px 0px 5px 90px;
    margin: 10px 40px 5px 0px;
    float: left;
    max-width: 250px;
    font-size: 16px;
    line-height: 24px;
}
.pullquote-left:before {
    position: absolute;
    left: 0;
    top: 20%;
    font-size: 34px;
    color: #eee;
    color: rgba(0, 0, 0, 0.07);
    font-family: 'virtue_icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    content: "\e19f";
    -webkit-font-smoothing: antialiased;
}
.pullquote-center {
    position: relative;
    padding: 15px 80px;
    margin: 30px;
    font-size: 16px;
    text-align:center;
    line-height: 24px;
}
.pullquote-center:before {
    position: absolute;
    left: 0;
    top: 20%;
    font-size: 34px;
    color: #eee;
    color: rgba(0, 0, 0, 0.07);
    font-family: 'virtue_icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    content: "\e19f";
    -webkit-font-smoothing: antialiased;
}
// Dividers
.space_20 {
padding: 10px 0;
}
.space_10 {
padding: 5px 0;
}
.space_30 {
padding: 15px 0;
}
.space_40 {
padding: 20px 0;
}
.space_80 {
padding: 40px 0;
}
.space_minus_10 {
margin-top: -10px;
}
.space_minus_20 {
margin-top: -20px;
}
.hrule {
    position: relative;
    margin: 30px auto;
    height:1px;
    width:95%;
    background:#E5E5E5;
    background:rgba(0,0,0,.05);
}
.hrule_dots {
    position: relative;
    margin: 30px auto;
    height:1px;
    width:95%;
    border-top: 1px dotted #E5E5E5;
    background:transparent;
    border-color:rgba(0,0,0,.05);
}
.hrule_gradient { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 30px auto;
}
.hrule_gradient:before {
    top: -0.5em;
    height: 1em;
}
.hrule_gradient:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}

.hrule_gradient:before, .hrule_gradient:after {
    content: '';
    position: absolute;
    width: 100%;
}

.hrule_gradient, .hrule_gradient:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}

.hrule_gradient:after {
    background: #fff;
}
// Accordion 
.panel.panel-default {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.panel.panel-default {
margin-bottom: 2px;
border: 1px solid #e5e5e5;
}
#ktmain .panel-grid .panel-group .panel.panel-default {
    margin-bottom: 2px;
}
.panel-heading .accordion-toggle {
display: block;
padding: 8px 15px;
}
.panel-heading .accordion-toggle {
    font-weight: bold;
    border-left: 2px solid;
}
.panel-heading .accordion-toggle.collapsed {
    border-left: 2px solid @gray-hover;
}
.panel-heading .accordion-toggle i{
    float:right;
    font-size: 12px;
margin-top: 5px;
}
.panel-heading .accordion-toggle .icon-plus {
    display:none;
}
.panel-heading .accordion-toggle .icon-minus {
    display:block;
}
.panel-heading .accordion-toggle.collapsed .icon-plus {
    display:block;
}
.panel-heading .accordion-toggle.collapsed .icon-minus {
    display:none;
}
.panel-body {
padding: 9px 15px;
border-top: 1px solid #e5e5e5;
}
#content .gallery {
    margin: 10px 0;
}
.kad-icon-box {
padding: 10px 20px;
width: 100%;
text-align: center;
margin: 10px auto;
display: block;
    transition: background .4s ease-out;
  -webkit-transition: background .4s ease-out;
  -moz-transition: background .4s ease-out;
  -o-transition: background .4s ease-out;
}
.kad-icon-box i {padding-top: 10px; display: block;}
.kad-info-box {
padding: 20px;
}
.kad-info-box i, .kad-info-box img {
float: left;
display: block;
margin: 5px 20px 10px 5px;
}
.mapinfo h5 {
margin: 0 0 6px;
}
.mapinfo {
padding: 3px 0;
}
.kad_popover {
    cursor: pointer; 
}
.siteorigin-panels-stretch .kadence_split_content_widget {
    overflow: hidden;
}
.kt-si-table-box {
display: table;
position: relative;
table-layout: fixed;
width: 100%;
}
.kt-si-cell-box {
display: table-cell;
vertical-align: middle;
width: 100%;
}
.img-ktsi-right {
 float: right;
}
.content-ktsi-right {
 text-align: right;
}
.kt-si-imagecol.img-ktsi-left {
    text-align: right;
}
  .content-ktsi-right {
 padding-right:30px;
 padding-left:30px;
}
  .content-ktsi-left {
 padding-left:30px;
 padding-right:30px;
}  
@media (max-width: 768px) {
    .content-ktsi-left {
 padding-top:10px;
 padding-bottom:10px;
} 
    .content-ktsi-right {
 padding-top:10px;
 padding-bottom:10px;
} 
}
.kt_imgsplit_content {
    padding: 5px 0 15px;
}
.kt-simple-box.kt-valign-center {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.kt-simple-box.kt-valign-center .kt-simple-box-inner {
    display: table-cell;
    vertical-align: middle;
}

.kt-si-image.kt-si-cover-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.kt_typed_element {
min-height: 1px;
    min-width: 1px;
    display: inline-block;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: kt_type_blink 0.7s infinite;
    -moz-animation: kt_type_blink 0.7s infinite;
    animation: kt_type_blink 0.7s infinite;
}
@keyframes kt_type_blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes kt_type_blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes kt_type_blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.kt-flip-box-contain {
    position: relative;
    display: block;
    text-align: center;
    height: 260px;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
        -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width:100%;
}
.kt-flip-box-front, .kt-flip-box-back {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
     -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    padding:0 20px;
    display: table;
    table-layout: fixed;
}
.kt-flip-box-flipper {
    position: relative;
    display: block;
    text-align: center;
    height: 100%;
    width:100%;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.kt-flip-box-front-inner, .kt-flip-box-back-inner {
    display: table-cell;
    height: 100%;
    width: 100%;
    position: relative;
    vertical-align: middle;
}
.kt-flip-box-back-inner a.kt-flip-btn {
      margin-top: 15px;
    padding: 6px 12px;
    background: 0 0;
    color: #fff;
    display: inline-block;
    border: 2px solid #fff;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.kt-flip-box-back-inner a.kt-flip-btn:hover {
    opacity: .8;
}
.kt-flip-box-front {
-webkit-transform: rotateY(0deg);
-moz-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    }
.kt-flip-box-back {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-ms-transform: rotateY(180deg);
transform: rotateY(180deg);
    }
    .kt-flip-box-contain:hover .kt-flip-box-front, .kt-flip-box-contain .kt-mobile-hover .kt-flip-box-front {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    }
.kt-flip-box-contain:hover .kt-flip-box-back, .kt-flip-box-contain .kt-mobile-hover .kt-flip-box-back{
-webkit-transform: rotateY(360deg);
-moz-transform: rotateY(360deg);
-ms-transform: rotateY(360deg);
transform: rotateY(360deg);
    }
    @media (min-width: 767px) {
        .ie8 .kt-flip-box-contain .kt-flip-box-back, .ie9 .kt-flip-box-contain .kt-flip-box-back, .ie7 .kt-flip-box-contain .kt-flip-box-back {
  -webkit-transform: rotateY(0deg);
-moz-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
transform: rotateY(0deg);
    ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
  filter: alpha(opacity=00);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.ie8 .kt-flip-box-contain:hover .kt-flip-box-back, .ie9 .kt-flip-box-contain:hover .kt-flip-box-back, .ie7 .kt-flip-box-contain:hover .kt-flip-box-back {
   ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  }
}
.image_menu_wrap {
    display: block;
    position: relative;
}
