 //Testimonial
 .testimonialbox {
 	padding: 20px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 6px;
	font-size: 13px;
	font-style: italic;
	color:#444;
}
.testimonialimg {
	margin-right: 20px;
	margin-bottom: 10px; 
}
.testimonialbottom {
	text-align: right;
}
.testimonialbottom p {
	padding-top: 2px;
	margin-right: 60px;
}
.testimonialbottom .lipbg {
	float: right;
	margin-right: 20px;
	margin-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 40px;
	margin-top: 0;
}
.kadence_testimonials_slider .test-prev, .kadence_testimonials_slider .test-next {
	color: #777;
}
.test-prev, .test-next {
position: absolute;
top: -40px;
background: #fff;
color: #777;
padding: 6px 6px 4px;
border: 1px solid #eee;
}
.test-prev {
right: 50px;
}
.test-next {
right: 10px;
}
.kad-arrow-down {
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #eee;
}
#containerfooter .kad-arrow-down {
	border-top-color: #fff;
}
#containerfooter .testimonialbottom .lipbg {
	margin-top: -1px;
}
#kad-feedback-new-post input.full.kad_file_input {
line-height: 14px;
padding: 12px;
}

