//Topbar menu
.topbarmenu ul {
	margin: 0;
	padding: 0;
}
.topbarmenu ul li {
	list-style: none;
	float: left;
	color: #fff;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
}
.topbarmenu ul li a {
	color: #fff;
	display: block;
	padding: 7px 10px;
	font-size: 12px;
	transition: background .5s;
	-moz-transition: background .5s; /* Firefox 4 */
	-webkit-transition: background .5s; /* Safari and Chrome */
	-o-transition: background .5s; /* Opera */
	} 
.topbarmenu ul li a:hover, .topbarmenu ul li.sf-dropdown:hover {
	text-decoration: none;
	background: rgba(255,255,255,0.2);
}
.topbarmenu ul li div > a {
	display: inline-block;
}
.topbarmenu ul li .sf-dropdown-menu li a {
	color: #555;
	text-align: left;
	font-size: 12px;
}
.topbarmenu .sf-menu li a i {
display: inline;
padding-right: 5px;
font-size: 12px;
}
.topbar-widget .virtue_social_widget a {
display: block;
float: left;
width: auto;
font-size: 12px;
text-align: center;
line-height: 20px;
padding: 7px 10px;
background: transparent;
margin-left: 0;
margin-bottom: 0;
color: #fff;
}
.topbarmenu .sf-menu ul {
z-index: 1000 !important;
}
//mobile nav
#topbar .nav-trigger-case {
position: static;
width: auto;
}
#topbar .nav-trigger-case .kad-navbtn {
	color: #fff;
	display: block;
	float: left;
	line-height: 20px;
padding: 7px 10px;
font-size: 12px;
transition: background .5s;
-moz-transition: background .5s;
-webkit-transition: background .5s;
-o-transition: background .5s;
}
#topbar .kad-mobile-nav .kad-nav-inner li a {
	color: #fff;
	font-size: 12px;
}
#topbar .kad-mobile-nav .kad-nav-inner li a i {
	margin-right: 5px
}
#topbar .kad-nav-collapse li {
	list-style: none;
}
.kad-nav-inner .kad-top-mnav {
position: relative;
left: 0;
display: block;
margin: 0;
padding: 20px;
list-style: none;
float: none;
margin: 0 0 10px;
}
#topbar .kad-mobile-nav .form-search .search-query {
background: rgba(255,255,255,.2);
color: #fff;
border: 0;
}
.kad-mobile-nav .form-search {
	display: none;
padding: 20px 20px 0;
max-width: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}
#topbar .id-kad-mobile-nav {margin-top:0px;}
#topbar .kad-mobile-nav .form-search ::-webkit-input-placeholder {
   color: white;
}

 #topbar .kad-mobile-nav .form-search :-moz-placeholder { /* Firefox 18- */
   color: white;
}

#topbar .kad-mobile-nav .form-search ::-moz-placeholder {  /* Firefox 19+ */
   color: white; 
   opacity: 1;
}

#topbar .kad-mobile-nav .form-search :-ms-input-placeholder {  
   color: white;  
}
#topbar .kad-mobile-nav .form-search .search-icon, #topbar .kad-mobile-nav .kad-nav-inner li .kad-submenu-accordion {
color: #fff;
}
.kad-mobile-nav .form-search .search-icon {
left: 20px;
top: 20px;
}
#topbar .nav-trigger-case .kad-navbtn:hover {
	background: rgba(255,255,255,0.2);
}
.topbar-widgetcontain, .topbar-widgettitle-wrap {
display:inline;
margin:0;
}