.widget {
    margin-top: 30px;
}
.panel-grid .widget {
    margin-top: 0px;
}
.widget-first {
    margin-top: 10px
}
.panel-grid .widget-first {
    margin-top: 0px;
}
// Kadence Recent Posts Widget 
.sidebar .kadence_recent_posts li, .kadence_recent_posts li, .widget_kadence_recent_posts li {
    margin-bottom:15px;
    line-height:normal;
}
.kadence_recent_posts li, .widget_kadence_recent_posts li { list-style: none;}
.kadence_recent_posts img, .widget_kadence_recent_posts img {
    float:left;
    padding-right: 10px;
}
.kadence_recent_posts .recentpost_date, .widget_kadence_recent_posts .recentpost_date {
    line-height:12px;
    float:left;
    font-size:10px;
    padding-bottom:5px;
}
.sidebar .kadence_recent_posts ul, .kadence_recent_posts ul, .widget_kadence_recent_posts ul {
    margin: 0 0 10px 10px;
    padding: 0;
}
#contentfooter .kadence_recent_posts a {
    color:#7B7B7B;
}
.kadence_recent_posts .postclass a  {
    color: #555;
}
.kadence_recent_posts .recentpost_title, .widget_kadence_recent_posts .recentpost_title {
    padding-top:6px;
    display:block;
    line-height:20px;
}
// Img Grid Widget
.kadence_image_grid .imagegrid-widget a.imagegrid_item {
    padding-left:5px;
    margin-bottom:5px;
    float:left;
    display:block;
}
//about with img
.kad_img_upload_widget {
  text-align: center;
}
.kt-image-align-center {
    text-align: center;
}
.kt-image-align-left {
    text-align: left;
}
.kt-image-align-right {
    text-align: right;
}
.virtue_image_widget_caption {
  font-size:12px;
  margin-top: 5px;
}
.kt-image-shadow-small {
	display: inline-block;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.35);
}
.kt-image-shadow-medium {
	display: inline-block;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
}
.kt-image-shadow-large {
	display: inline-block;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.55);
}
.kt-image-shadow-small_below{
	display: inline-block;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.kt-image-shadow-medium_below {
	display: inline-block;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.kt-image-shadow-large_below{
	display: inline-block;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.kt-image-shape-circle, .kt-image-shape-square, .kt-image-shape-diamond, .kt-image-shape-hexagon, .kt-image-shape-octogon {
    padding-bottom: 100%;
    height: 0;
    position:relative;
    overflow:hidden;
    display: block;
        z-index: 1;
    img {
	    position:absolute;
	    height:100%;
	    width:auto;
	    min-width:100%;
	    max-width:none;
	    left:50%;
	    top:0;
	    .translate(-50%, 0%);
	}
}
.kt-image-shape-hexagon {
	padding-bottom: 115%;
}
.kt-image-shape-diamond {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.kt-image-shape-octogon {
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.kt-image-shape-hexagon {
-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.kt-image-shape-circle {
    border-radius:50%;
}
//vcard 
.vcard-address > span {
    display: block;
}
.widget_kadence_contact .vcard p {
    margin-bottom: 5px;
}
.widget_kadence_contact .vcard i {
  font-size: 14px;
    margin-right: 5px;
    vertical-align: middle;
}
// social 
.virtue_social_widget a {
  display: block;
  float: left;
  width: auto;
  text-align: center;
  line-height: 20px;
  padding: 5px;
  background: #eee;
  margin-left: 3px;
  margin-bottom: 3px;
  color: #444;
    transition: background .6s ease-out;
  -webkit-transition: background .6s ease-out;
  -moz-transition: background .6s ease-out;
  -o-transition: background .6s ease-out;
}
#containerfooter .virtue_social_widget a {
background: rgba(0,0,0,0.1);
}
#containerfooter .virtue_social_widget a:hover, .virtue_social_widget a:hover {
  color:#fff;
  }
.virtue_social_widget a i {
  font-size: 18px;
  line-height: 20px;
  vertical-align: middle;
}
#containerfooter .virtue_social_widget .facebook_link:hover, .virtue_social_widget .facebook_link:hover {background:@facebook;}
#containerfooter .virtue_social_widget .twitter_link:hover, .virtue_social_widget .twitter_link:hover {background:@twitter;}
#containerfooter .virtue_social_widget .googleplus_link:hover, .virtue_social_widget .googleplus_link:hover {background:@google;} 
#containerfooter .virtue_social_widget .dribbble_link:hover, .virtue_social_widget .dribbble_link:hover {background:@dribbble;}
#containerfooter .virtue_social_widget .vimeo_link:hover, .virtue_social_widget .vimeo_link:hover {background:@vimeo;}
#containerfooter .virtue_social_widget .flickr_link:hover, .virtue_social_widget .flickr_link:hover {background:@flickr;}
#containerfooter .virtue_social_widget .youtube_link:hover, .virtue_social_widget .youtube_link:hover {background:@youtube;}
#containerfooter .virtue_social_widget .pinterest_link:hover, .virtue_social_widget .pinterest_link:hover {background:@pinterest;}
#containerfooter .virtue_social_widget .instagram_link:hover, .virtue_social_widget .instagram_link:hover {background:@instagram;}
#containerfooter .virtue_social_widget .linkedin_link:hover, .virtue_social_widget .linkedin_link:hover {background:@linkedin;}
#containerfooter .virtue_social_widget .rss_link:hover, .virtue_social_widget .rss_link:hover {background:@rss;}
#containerfooter .virtue_social_widget .tumblr_link:hover, .virtue_social_widget .tumblr_link:hover {background:@tumblr;}
#containerfooter .virtue_social_widget .stumbleupon_link:hover, .virtue_social_widget .stumbleupon_link:hover {background:@stumbleupon;}
#containerfooter .virtue_social_widget .vk_link:hover, .virtue_social_widget .vk_link:hover {background:@vk;}
#containerfooter .virtue_social_widget .viadeo_link:hover, .virtue_social_widget .viadeo_link:hover {background:@viadeo;}
#containerfooter .virtue_social_widget .xing_link:hover, .virtue_social_widget .xing_link:hover {background:#006567;}
#containerfooter .virtue_social_widget .yelp_link:hover, .virtue_social_widget .yelp_link:hover {background:#c41200;}
#containerfooter .virtue_social_widget .soundcloud_link:hover, .virtue_social_widget .soundcloud_link:hover {background:#ff7700;}
#containerfooter .virtue_social_widget .snapchat_link:hover, .virtue_social_widget .snapchat_link:hover {background:#fffc00;}
#containerfooter .virtue_social_widget .periscope_link:hover, .virtue_social_widget .periscope_link:hover {background:#3aa4c6;}
#containerfooter .virtue_social_widget .behance_link:hover, .virtue_social_widget .behance_link:hover {background:#1769ff;}

// Wordpress Widgets
.widget_archive .widget-inner li a:before  {
    font-family: 'virtue_icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    content: "\e112";
    float:left;
    margin-left:-20px;
    -webkit-font-smoothing: antialiased;
}
.widget_recent_comments .widget-inner li:before  {
    font-family: 'virtue_icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    content: "\e152";
    float:left;
    margin-left:-20px;
    -webkit-font-smoothing: antialiased;
}
.widget_recent_entries .widget-inner li a:before  {
    font-family: 'virtue_icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    content: "\e00f";
    float:left;
    margin-left:-20px;
    -webkit-font-smoothing: antialiased;
}
.widget_categories .widget-inner .cat-item a:after  {
    font-family: 'virtue_icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    content: "\e3b5";
    float: right;
    -webkit-font-smoothing: antialiased;
}
#wp-calendar a {
  color:@primary;
}
//Woocommerce
.sidebar .product-categories li, .product-categories li, .sidebar .widget_categories li {
border-bottom: 0;
line-height: 20px;
}
.sidebar .product-categories li a, .woocommerce .product-categories li a, .sidebar .widget_categories li a {
    display: block;
    padding: 5px 0px 5px 0;
    border-bottom: solid 1px #eee;
    border-color :rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
}
.product-categories .cat-item a:after  {
    font-family: 'virtue_icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    content: "\e3b5";
    float: right;
    -webkit-font-smoothing: antialiased;
} 
.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -14px;
}
.widget_price_filter .price_slider {
  margin-bottom: 1em;
}
.widget_price_filter .price_slider_wrapper .price_slider {
margin: 20px 10px 25px;
}
.widget_price_filter .price_slider_amount {
text-align: left;
line-height: 36px;
font-weight: bold;
font-size: 14px;
margin-left: 20px;
}
.widget_price_filter .ui-slider .ui-slider-range {
position: absolute;
z-index: 1;
font-size: 14px;
display: block;
background: #ddd;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #f2f2f2;
  }
  .widget_price_filter .ui-slider-horizontal {
  height: 8px;
}
.widget_price_filter .price_slider_amount .button {
  font-size: 14px;
  padding: 8px 14px;
  font-weight: bold;
  line-height: 20px;
}
.widget_price_filter .price_slider_amount .button {
  float: right;
  margin-right: 20px;
}
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.widget_shopping_cart_content .checkout {
	color: #fff;
}
.widget_price_filter .ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 14px;
height: 26px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
border: 0;
cursor: pointer;
background: @primary;
outline: 0;
top: -8px;
}
// woolayers
.woocommerce .widget_layered_nav ul,
.woocommerce-page .widget_layered_nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
}
.woocommerce .widget_layered_nav ul li,
.woocommerce-page .widget_layered_nav ul li {
  padding: 0 0 1px;
  list-style: none;
  margin: 2px 0;
}
.woocommerce .widget_layered_nav ul li:after,
.woocommerce-page .widget_layered_nav ul li:after {
  content: "";
  display: block;
  clear: both;
}
.woocommerce .widget_layered_nav ul li a,
.woocommerce-page .widget_layered_nav ul li a,
.woocommerce .widget_layered_nav ul li span,
.woocommerce-page .widget_layered_nav ul li span {
  padding: 5px 15px 5px 25px;
  float: left;
}
 .widget_layered_nav ul li.chosen {
 // border: 0;
}
.widget_layered_nav ul li.chosen a:before, .widget_layered_nav_filters ul li a:before {
  font-family: 'virtue_icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    content: "\e36c";
    float:left;
    margin-left:-20px;
    -webkit-font-smoothing: antialiased;
}
.widget_layered_nav ul li.chosen a {
  padding: 5px 15px 5px 25px;
  border: 0;
  background: @primary;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
   transition: background .6s ease-out;
  -webkit-transition: background .6s ease-out;
  -moz-transition: background .6s ease-out;
  -o-transition: background .6s ease-out;
}
.woocommerce .widget_layered_nav ul small.count,
.woocommerce-page .widget_layered_nav ul small.count {
  float: right;
  margin-left: 6px;
  font-size: 1em;
  padding: 5px 0;
  color: #777777;
}
.woocommerce .widget_layered_nav_filters ul,
.woocommerce-page .widget_layered_nav_filters ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
  overflow: hidden;
  zoom: 1;
}
.sidebar .widget_layered_nav_filters ul li {
  border: 0;
  }
.widget_layered_nav_filters ul li {
  float: left;
  list-style: none;
  border: 0;
  margin: 2px;
}
.widget_layered_nav_filters ul li a:hover {
  background: @primary20;
}
.widget_layered_nav_filters ul li a {
  padding: 5px 15px 5px 25px;
  border: 0;
  background: @primary;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  float: left;
       transition: background .6s ease-out;
  -webkit-transition: background .6s ease-out;
  -moz-transition: background .6s ease-out;
  -o-transition: background .6s ease-out;
}
//google Translate 
.topbar-widget {
  color: #fff;
}
.topbar-widget #google_language_translator {
  clear: none;
  float: left;
}
.topbar-widget #flags {
  float: left;
  }

  .kt-ctaw .kt-call-to-action-title {
    margin: 0 0 20px;
}
.kt-ctaw .kt-call-to-action-abovetitle {
    margin-bottom: 20px;
}
.kt-ctaw .kt-call-to-action-subtitle {
    margin: 0 0 20px;
}
.kt-map iframe {
    width: 100%;
    max-width: 100%;
    border: 0;
}